<div class="container">
  <div class="flex-grid">
    <div class="row">
      <div class ="cell size12">
        <div class="carousel bg-blue fg-white" data-role="carousel" data-height="300">
          <div class="slide padding50">
            <h1>Getting Started</h1>
            <p>
              We've provided a getting started experience for customers, to help them understand
              Kontoso's support process. We've optimized this process to allow customers to solve
              their issues as quickly as possible, with the smallest amount of hassle. From easy,
              automated self-help, to direct online customer chat, it all starts with the button
              below.
            </p>
            <div class="align-center">
              <a href="/get-started" class="command-button warning">
                <span class="icon mif-paper-plane mif-ani-float fg-white"></span>
                Let's Get Started
                <small>Click me!</small>
              </a>
            </div>
          </div>
          <div class="slide padding50">
            <h1>Kontoso Customer Support</h1>
            <p>
              Kontoso is committed to providing the best experience for our customers.
              We strive to make resolving issues and learning about our products as easy
              and simple as possible. Our family is dedicated to making our customers lives
              better and the world a better place. Never hestitate to let us know how we can
              do better on our <a href="/feedback" class="fg-pink"><span class="mif-heart"></span>
              feedback page</a>. We're always striving to be better - and with your help,
              we can be.
            </p>
            <div class="align-center">
              <a href="/feedback" class="command-button bg-pink fg-white rounded">
                <span class="icon mif-heart mif-ani-heartbeat mif-ani-slow fg-white"></span>
                Go to Feedback page
                <small>Help us improve!</small>
              </a>
            </div>
          </div>

        </div> <!-- carousel -->
      </div> <!-- .cell .size12 -->
    </div> <!-- .row -->
    <div class="row">
      <div class="cell size12">
        <hr>
      </div> <!-- .cell .size12 -->
    </div> <!-- .row -->
    <div class="row">
      <div class="cell size4 align-center bg-lime padding50">
        <h2><a href="#a-get-started" class="fg-white fg-hover-orange">Get Started</a></h2>
      </div>
      <div class="cell size4 align-center bg-cobalt padding50">
        <h2><a href="#a-self-service" class="fg-white fg-hover-orange">Self-service</a></h2>
      </div>
      <div class="cell size4 align-center bg-amber padding50">
        <h2><a href="#a-expert-chat" class="fg-white fg-hover-orange">Expert Chat</a></h2>
      </div>
    </div> <!-- .row -->
    <div class="row margin20 no-margin-left no-margin-right">
      <div class="cell size5 align-center">
        <img src="http://placehold.it/350x350">
      </div>
      <div class="cell size7">
        <h2><a name="a-get-started"></a>Get Started</h2>
        <p>We here at Kontoso know how a confusin support process can quickly frustrate you.
          We've tried our absolute best to make all the experiences in the support portal as
          easy to use as possible. In the spirit of making it even easier, we've provided an
          into experience which will step-by-step explain how the process works. If you're
          ever confused or lost in the process, leave us <a href="/feedback" class="fg-pink"><span class="mif-heart"></span>
          feedback </a>, and then click on the "Get Started" link at the top of the page; that
          page will walk you through the optimal experience for getting your needs addressed.
        </p>
        <div class="align-center">
          <a href="/get-started" class="command-button bg-lime fg-white">
            <span class="icon mif-paper-plane mif-ani-float fg-white"></span>
            Let's Get Started
            <small>Click me!</small>
          </a>
        </div>
      </div>
    </div> <!-- .row -->
    <div class="row margin20 no-margin-left no-margin-right">
      <div class="cell size7">
        <h2><a name="a-self-service"></a>Self-Service</h2>
        <p>We here at Kontoso know how a confusin support process can quickly frustrate you.
          We've tried our absolute best to make all the experiences in the support portal as
          easy to use as possible. In the spirit of making it even easier, we've provided an
          into experience which will step-by-step explain how the process works. If you're
          ever confused or lost in the process, leave us <a href="#" class="fg-pink"><span class="mif-heart"></span>
          feedback </a>, and then click on the "Get Started" link at the top of the page; that
          page will walk you through the optimal experience for getting your needs addressed.
        </p>
        <div class="align-center">
          <a href="/portal" class="command-button bg-cobalt fg-white">
            <span class="icon mif-user-md fg-white"></span>
            Go to Self-Service
            <small>Jump into the portal!</small>
          </a>
        </div>
      </div>
      <div class="cell size5 align-center">
        <img src="http://placehold.it/350x350">
      </div>
    </div> <!-- .row -->
    <div class="row margin20 no-margin-left no-margin-right">
      <div class="cell size5 align-center">
        <img src="http://placehold.it/350x350">
      </div>
      <div class="cell size7">
        <h2><a name="a-expert-chat"></a>Expert Chat</h2>
        <p>We here at Kontoso know how a confusin support process can quickly frustrate you.
          We've tried our absolute best to make all the experiences in the support portal as
          easy to use as possible. In the spirit of making it even easier, we've provided an
          into experience which will step-by-step explain how the process works. If you're
          ever confused or lost in the process, leave us <a href="#" class="fg-pink"><span class="mif-heart"></span>
          feedback </a>, and then click on the "Get Started" link at the top of the page; that
          page will walk you through the optimal experience for getting your needs addressed.
        </p>
        <div class="align-center">
          <a href="/chat" class="command-button bg-amber fg-white">
            <span class="icon mif-keyboard fg-white"></span>
            Start Expert Chat
            <small>True experts are waiting to help you!</small>
          </a>
        </div>
      </div>
    </div> <!-- .row -->
  </div> <!-- .flex-grid -->
</div> <!-- .container -->
